<%= render "nav", locals: { user: @user } %>
<style>
  body {
    background: white;
  }
</style>

<div class="mainPage" >
  <div class="container">
    <h1>Get this Party Started!</h1>
    <div class="row">
      <div class="col-md-12">
      <%= form_tag ('javascript:void(0);'), class: "travelSearch" do %>
      <br>
        <div class="origin searchBar">
          <%= label_tag "origin","Origin:" %>
          <br>
          <%= text_field_tag "origin", nil, autofocus: true, placeholder: "San Francisco, CA" %>
        </div>
        
        <div class="destination searchBar">
          <%= label_tag "destination","Destination:" %>
          <br>
          <%= text_field_tag "destination", nil, autofocus: true, placeholder: "San Diego, CA" %>
        </div>
        <div class="dateStart searchBar">
          <%= label_tag "dateStart", "Starting Date:" %>
          <br>
          <%= date_field_tag "dateStart", nil, autofocus: true %>
        </div>
        
        <div class="dateEnd searchBar">
          <%= label_tag "dateEnd", "Finished Date:" %>
          <br>
          <%= date_field_tag "dateEnd", nil, autofocus: true %>
        </div>
        <div class="budget searchBar">
          <%= label_tag "budget", "Budget:" %>
          <br>
          <%= text_field_tag "budget", nil, data: {:"slider-min" => "0", :"slider-max" => "5000", :"slider-step" => "1", :"slider-value" => "2500"} %>
          <br>
          Current Budget Value: <span id="sliderVal">2500</span>
        </div>
        <div class="endYo searchBar">
          <%= submit_tag "Search" , class: "btn btn-lg" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="map" style="background-color: #f9f9f9">
  <div id="directions-panel"></div>
  <div id="map-canvas"></div>
</div>

<br>

<div class="secondary">
  <div class="container">
    <h1>This is the next portion!</h1>
  </div>
</div>

